.about-container {
  flex: 1;
  margin: 0 auto;
}

.content {
  max-width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
}

.links {
  text-align: center;
}

a:nth-child(1) {
  margin-right: 10px;
}
