footer {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  left: 50%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
}

footer > a {
  color: #ffffff;
}
