header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 12px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2) !important;
}

.header-title {
  display: inline-block;
  text-align: center;
}

.covid-abbr {
  display: none;
}

.header-home {
  flex: 1;
  font-size: 18px;
  font-family: 'Sen', sans-serif;
}

.header-home > a {
  color: #333333;
  vertical-align: middle;
}

.header-home > a:hover {
  text-decoration: none;
}

.header-home-icon {
  height: 30px;
  display: none;
}

.header-home-icon > svg {
  height: 1.75rem;
  width: 1.75rem;
}

.header-buttons {
  text-align: right;
}

.header-buttons > button:nth-child(1),
.header-buttons > button:nth-child(3),
.header-buttons > .about {
  border-right: none;
  margin-right: 0;
  padding-left: 4px;
  padding-right: 4px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.header-buttons > button:nth-child(2),
.header-buttons > button:nth-child(4),
.header-buttons > .about {
  border-left: none;
  margin-left: 0px;
  padding-left: 4px;
  padding-right: 4px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.header-buttons > .about {
  margin-left: 8px;
}

.header-buttons > button:nth-child(2) {
  margin-right: 4px;
}

.sub-title {
  display: none;
}

@media only screen {
  .caret {
    font-size: 14px;
  }
}

@media (min-width: 321px) {
  .header-home {
    font-size: 22px;
  }

  .header-buttons > button:nth-child(1),
  .header-buttons > button:nth-child(3),
  .about {
    padding-left: 8px;
    padding-right: 8px;
  }
  .header-buttons > button:nth-child(2),
  .header-buttons > button:nth-child(4),
  .header-buttons > .about {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 400px) {
  .header-home-icon {
    display: inline-block;
    margin-right: 6px;
  }

  .header-buttons > button:nth-child(1),
  .header-buttons > button:nth-child(3),
  .header-buttons > .about {
    padding-left: 8px;
    padding-right: 8px;
  }
  .header-buttons > button:nth-child(2),
  .header-buttons > button:nth-child(4),
  .header-buttons > .about {
    padding-left: 8px;
    padding-right: 8px;
  }

  .header-buttons > button:nth-child(2) {
    margin-right: 4px;
  }
}

@media (min-width: 640px) {
  .header-home {
    font-size: 30px;
  }

  .covid-abbr {
    display: inline-block;
  }

  .header-buttons > button {
    padding: 9px 14px !important;
  }

  .header-buttons > button:nth-child(2) {
    margin-right: 8px;
  }

  .header-buttons > button:nth-child(1),
  .header-buttons > button:nth-child(3),
  .header-buttons > .about {
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
  }
  .header-buttons > button:nth-child(2),
  .header-buttons > button:nth-child(4),
  .header-buttons > .about {
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
  }
}

@media (min-width: 768px) {
  .sub-title {
    display: inline;
  }
}

button:focus,
button:active {
  outline: none !important;
}
