header {
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2) !important;
}

.header-home {
  flex: 1;
  font-size: 30px;
  font-family: 'Sen', sans-serif;
}

.header-buttons {
  flex: 2;
  text-align: right;
  display: none;
}

.header-buttons > a,
.header-mobile-buttons {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: #333333;
  color: #eeeeee;
  border-radius: 2px;
  padding: 6px 14px;
  margin-left: 6px;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.header-mobile-buttons > select {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 16px;
}

.header-buttons > a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-buttons > a.active {
  background-color: rgba(255, 0, 0, 0.7);
  color: #ffffff;
}

.header-buttons > a.active:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: #ffffff;
}

.header-mobile-buttons > select {
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media only screen {
  .caret {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .header-buttons {
    display: block;
  }

  .header-mobile-buttons {
    display: none;
  }
}
